{{#if debug}}
<code>
    {{this.editorType}}
    <a {{action "inspect"}} style="font-size:80%; font-weight: bold">&gt;$E</a>
</code>
{{/if}}

{{#if rendererType}}
    {{partial this.rendererType}}
{{else}}
    {{this.value}}
{{/if}}
