simpledict

<table style="width:100%" class="table table-striped">
    {{#each item in dictAsArray}}
        <tr {{action "select" item on="click"}}>
            <td>
                <span class="label label-primary" style="float:right">
                    {{item.key}}
                </span>
            </td>
            <td>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </td>
            <td>
                <span class="label label-warning">
                    {{item.value}}
                </span>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" {{action "removeKey" item.key}}>
                    <i class="fa fa-minus"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    <tr>
        <td>
            {{input value=newKey class="fright"}}
        </td>
        <td>
            <span class="glyphicon glyphicon-arrow-right"></span>
        </td>
        <td>
            {{input value=newValue}}
        </td>
        <td>
            <a class="btn btn-success btn-xs" {{action "addKey"}}>
                <i class="fa fa-plus"></i>
            </a>
        </td>
    </tr>
</table>
