<button class="btn btn-warning btn-reset" data-target="plugins" style="float:right">
    {{tr "Reset"}}
</button>
<div>
  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#filter" aria-controls="filter" role="tab" data-toggle="tab">{{tr "Filter"}}</a></li>
        <li><a href="#output" aria-controls="output" role="tab" data-toggle="tab">{{tr "Generated filter"}}</a></li>
        <li><a href="#result" aria-controls="result" role="tab" data-toggle="tab">{{tr "Result"}}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="filter">
            <div class="builder"></div>
        </div>
        <div role="output" class="tab-pane" id="output">
            <pre>{{filterValue}}</pre>
        </div>
        <div role="tabpanel" class="tab-pane" id="result">
            {{component-table model="event" modelfilter=filterValue columns=viewTabColumns targetObject=this}}
            <div style="float: right;" class="searchField">
                {{#component-tooltip content=helpModal.content htmlEnabled=true noTranslation=true}}
                    <i class="fa fa-info-circle"></i>
                {{/component-tooltip}}
                {{tr 'Search'}}: {{input action="search"}}
            </div>
            {{selectionTabFilter}}
            <b>{{tr 'Available'}}:</b>
            <div class="available_results">
                {{component-table items=metrics model="event" modelfilter=selectionTabFilter columns=selectionTabColumns targetObject=this}}
            </div>
        </div>
    </div>
</div>
