{{#unless controller.findOptions.useLogCollection}}
    {{#if controller.rights.actionbutton_ack.checksum}}
        {{#if this.ack.author}}
            {{#if this.ack.isAck}}
                {{#component-tooltip content="Cancel ack"}}
                    <button class="btn btn-default btn-xs" {{action 'sendEvent' 'ackremove' this}} >
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </button>
                {{/component-tooltip}}
            {{/if}}
        {{else}}
            {{recordcanbeack this}}
            {{#if this.recordcanbeack}}
                {{#if controller.rights.actionbutton_fastack.checksum}}
                    {{#component-tooltip content="Fast Ack"}}
                        <button class="btn btn-default btn-xs" {{action 'sendEvent' 'fastack' this}} >
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    {{/component-tooltip}}
                {{/if}}
                {{#component-tooltip content="Ack"}}
                    <button class="btn btn-default btn-xs" {{action 'sendEvent' 'ack' this}} >
                        <span class="glyphicon glyphicon-saved"></span>
                    </button>
                {{/component-tooltip}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/unless}}
