
<div {{bind-attr id="modalId"}} class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{#if this.editedRecordController}}
                        {{tr 'Edit'}}
                    {{else}}
                        {{tr 'New'}}
                    {{/if}}
                    {{crecord_type}}</h4>
            </div>
            <div class="modal-body">
                <p>
                <ul class="nav nav-tabs">
                    {{#each category in controller.categorized_attributes}}
                        <li><a href="#{{unbound category.title}}" data-toggle="tab">{{unbound category.title}}</a></li>
                    {{/each}}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {{#each category in controller.categorized_attributes}}
                        <div class="tab-pane" id="{{unbound category.title}}">
                            {{#each attr in category.keys}}
                                {{#if attr.model.options.hiddenInForm}}
                                {{else}}
                                     <div>
                                            <span class="label" style="color:black">
                                                {{#if attr.model.options.label}}
                                                    {{attr.model.options.label}}
                                                {{else}}
                                                    {{attr.field}}
                                                {{/if}}
                                            </span>
                                            {{editor "editorType"}}
                                     </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{tr 'Close'}}</button>
                <button type="button" class="btn btn-primary" {{action "submit"}}>{{tr 'Save changes'}}</button>
            </div>
        </div>
    </div>
</div>
