{{#if controller.rights.list_filters.checksum}}
    <div class="pull-right btn-group" data-toggle="btn-toggle">
        {{#each filter in controller.filters_list}}
            <span type="button" {{bind-attr class=":btn filter.isActive:btn-primary:btn-default :btn-sm :editable filter.isActive:active"}} data-col="all" {{action "setFilter" filter}}>
                {{filter.title}}
            </span>
        {{/each}}
        {{#each filter in controller.custom_filters_list}}
            <span type="button" {{bind-attr class=":btn filter.isActive:btn-primary:btn-default :btn-sm :editable filter.isActive:active "}} data-col="all" {{action "selectFilter" filter}}>
                {{filter.title}}
                <small class="badge bg-blue" {{action "editFilter" filter}}> <i class="fa fa-wrench"></i></small>
                <small class="badge bg-orange" {{action "removeFilter" filter}}> <i class="fa fa-minus"></i></small>
            </span>
        {{/each}}
        {{#each filter in controller.user_filters}}
            <span type="button" {{bind-attr class=":btn filter.isActive:btn-primary:btn-default :btn-sm :editable filter.isActive:active "}} data-col="all" {{action "setFilter" filter}}>
                {{filter.title}}
                <small class="badge bg-blue" {{action "editFilter" filter}}> <i class="fa fa-wrench"></i></small>
                <small class="badge bg-orange" {{action "removeFilter" filter}}> <i class="fa fa-minus"></i></small>
            </span>
        {{/each}}
        {{#if controller.mixinOptions.customfilterlist.can_mix_filters}}
            {{#each operator in controller.customFilterOperators}}
                <button {{bind-attr class=":btn operator.active:btn-primary:btn-default :btn-sm operator.active:active"}} {{action "setActiveOperator" operator}}>{{operator.display}}</button>
            {{/each}}
        {{/if}}
        {{#if controller.canAddCustomFiltersInUserPreferences}}
            <button type="button" class="btn btn-primary btn-sm btn-add-customfilter" {{action "addUserFilter"}} data-col="all">
                <i class="fa fa-plus"></i> {{tr 'Add filter'}}
            </button>
        {{/if}}
    </div>
{{/if}}
