<h2 class="page-header">{{tr 'Empty index page'}}</h2>

<h3><i class="fa fa-warning text-yellow"></i> {{tr 'Oops!'}} {{tr 'No default view configured!'}}</h3>

<button class="btn btn-primary" {{action "showView" 'view.userviews'}}>{{tr 'Switch to view list'}}</button>
