{{#unless controller.hasOnePage}}
    <div class="pull-left" style="padding-left:4px">
        {{#unless controller.isFirstPage}}
            <span class="btn-group">
                <button type="button" class="btn btn-sm btn-default" {{action "firstPage"}}>
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button type="button" class="btn btn-sm btn-default" {{action "prevPage"}}>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </span>
        {{/unless}}

        <span style="float:left; padding:4px">
            {{controller.currentPage}} / {{controller.totalPages}}
        </span>
        {{#unless controller.isLastPage}}
            <span class="btn-group">
                <button type="button" class="btn btn-sm btn-default" {{action "nextPage"}}>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                <button type="button" class="btn btn-sm btn-default" {{action "lastPage"}}>
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
            </span>
        {{/unless}}
    </div>
{{/unless}}
