<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        {{#if controller.debug}}
            <code style="background:#367fa9">
                <a {{action "inspect" controller.controllers.login.record}} style="font-size:80%; font-weight: bold">&gt;$E</a>
            </code>
        {{/if}}
        <span>{{controller.controllers.login.record._id}} <i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header bg-light-blue">
            <img src="/static/canopsis/media/images/avatar.png" class="img-circle" alt="User Image" />
            <p>{{controller.controllers.login.record._id}}</p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a {{action 'showUserProfile'}} href="#" id="userprofil" class="btn btn-default btn-flat">{{tr 'Profile'}}</a>
                <a {{action 'showView' 'view.about'}} href="#" class="btn btn-default btn-flat">{{tr 'About'}}</a>
            </div>
            <div class="pull-right">
                <a href="#" {{action 'logout'}} class="btn btn-default btn-flat"><i class="fa fa-power-off"></i></a>
            </div>
        </li>
    </ul>
</li>
