<div class="box-header">
    <div class="pull-right">
        {{partialslot slot=this.widget.controller._partials.titlebarsbuttons minified=true class="btn-group" tagName="span" widget=widget}}
        {{partialslot slot=widget.controller._partials.titlebarbuttons minified=true class="btn-group" tagName="span" widget=widget}}
            {{#if controller.editMode}}
                {{view "mixineditdropdown" isGridLayout=controller.isGridLayout mixins=widget.mixins wrappermixins=this.mixins class="btn-group"}}
            {{/if}}
        <div class="btn-group">
            {{#if controller.editMode}}
                <button type="button" class="btn btn-small btn-danger btn-xs" {{action 'removeWidget' widget}}>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            {{/if}}

            {{#if widget.rollbackable}}
                {{#if widget.isDirty}}
                    <button type="button" class="btn btn-small btn-danger btn-xs" {{action 'rollback' widget}}>
                        {{widget.dirtyMessage}} <i class="fa fa-undo"></i>
                    </button>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <!--
    <div class="pull-right">
        Here, widget is the model (this.config in the controller)
        controller is the userview controller

        TODO: add possibility for widget to add action buttons in titlebar
        {partialslot slot=widgetController._partials.widgetActionButtons}
    </div>
    -->
    {{#unless controller.hide_titles}}
        {{#if widget.title}}
            <h3 class="box-title">{{widget.title}}</h3>
        {{/if}}
        {{#if controller.editMode}}
            {{#unless widget.title}}
                <h3 class="box-title">&lt; {{tr 'Untitled'}} {{widget.xtype}} widget &gt;</h3>
            {{/unless}}
        {{/if}}
    {{/unless}}
    {{#if controller.debug}}
        <code>
            <a {{action "inspect" widget}} style="font-size:80%; font-weight: bold">&gt;$E</a>
        </code>

        <span class="label label-warning">{{xtype}} state: {{currentState.stateName}}</span>
        <span class="label label-warning">{{widget.xtype}} state: {{widget.currentState.stateName}}</span>
    {{/if}}
</div>
