<fieldset>
    <div style="float: right;">
        {{#component-tooltip content=helpModal.content htmlEnabled=true noTranslation=true}}
            <i class="fa fa-info-circle"></i>
        {{/component-tooltip}}
        {{tr 'Search'}}: {{input action="search"}}

    </div>

    <b>{{tr 'Available'}}:</b>

    {{component-table items=metrics model="ctxmetric" modelfilter=metricSearch columns=select_cols targetObject=this queryStartOffsetKeyword="start"}}

    <hr/>

    <b>Selected:</b>
    {{component-table items=selectedMetrics columns=unselect_cols targetObject=this queryStartOffsetKeyword="start"}}
</fieldset>
