{{#if controller.controllers.application.runtimeConfiguration.DEBUG}}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Debug informations</h3>
        </div>
        <div class="panel-body">
            inspectedItemType: {{inspectedItemType}}
        </div>
    </div>
{{/if}}
<p>
    {{#if controller.categories}}
        {{partialslot slot=controller._partials.toolbar tagName="ul" classNames="nav navbar-nav pull-right"}}
    {{else}}
        <div class="callout callout-danger">
            <h4>
                <span class="glyphicon glyphicon-warning-sign"></span>
                 {{tr 'Schema not editable'}}
            </h4>
            <p>
                {{tr 'This schema is not editable'}}.
                {{#if controller.controllers.application.runtimeConfiguration.DEBUG}}
                    <div>TODO warn administrators that the schema does not have categories.</div>
                {{/if}}
            </p>
        </div>
    {{/if}}
    {{#unless controller.onePageDisplay}}
        <ul class="nav nav-tabs">
            {{#each category in controller.categories}}
                {{#if category.keys.length}}
                    <li {{bind-attr class="category.isDefault:active"}} id="{{unbound category.slug}}_tab"><a href="#{{unbound category.slug}}" data-toggle="tab">{{unbound tr category.title}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    {{/unless}}
    <!-- Tab panes -->
    <div class="tab-content">
        {{#each category in controller.categories}}
            {{#if category.keys.length}}
                {{#if controller.onePageDisplay}}
                    <center>
                        <h4>{{tr category.title}}</h4>
                    </center>
                    {{#each attr in category.keys}}
                        {{#if attr.model.options.readOnly}}
                            <div>
                                {{#if attr.model.options.title}}
                                    <span class="label" style="color:black">
                                        <b>
                                            {{tr attr.model.options.title}}
                                        </b>
                                    </span>
                                {{else}}
                                    {{#if attr.field}}
                                        <span class="label" style="color:black">
                                            <b>
                                                {{tr attr.field}}
                                            </b>
                                        </span>
                                    {{/if}}
                                {{/if}}
                            {{component-renderer attr=attr record=controller.formContext value=attr.value}}
                            </div>
                        {{else}}
                            {{#unless attr.model.options.hiddenInForm}}
                                <div>
                                    {{#if attr.model.options.title}}
                                        <span class="label" style="color:black">
                                            {{tr attr.model.options.title}}
                                        </span>
                                    {{else}}
                                        {{#if attr.field}}
                                            <span class="label" style="color:black">
                                                {{tr attr.field}}
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                    {{component-editor attr=attr form=this editorOverrides=controller.controllers.application.frontendConfig.editors}}
                                </div>
                            {{/unless}}
                        {{/if}}
                    {{/each}}
                    <hr/>
                {{else}}
                    {{#if category.isDefault}}
                        <div class="tab-pane active" id="{{unbound category.slug}}">
                        {{#each attr in category.keys}}
                            {{#if attr.model.options.readOnly}}
                                <div>
                                    {{#if attr.model.options.title}}
                                        <span class="label" style="color:black">
                                            <b>
                                                {{tr attr.model.options.title}}
                                            </b>
                                        </span>
                                    {{else}}
                                        {{#if attr.field}}
                                            <span class="label" style="color:black">
                                                <b>
                                                    {{tr attr.field}}
                                                </b>
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                   {{component-renderer attr=attr record=controller.formContext value=attr.value}}
                                </div>
                            {{else}}
                                <div>
                                    {{#if attr.model.options.title}}
                                        <span class="label" style="color:black">
                                            <b>
                                                {{tr attr.model.options.title}}
                                            </b>
                                        </span>
                                    {{else}}
                                        {{#if attr.field}}
                                            <span class="label" style="color:black">
                                                <b>
                                                    {{tr attr.field}}
                                                </b>
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                    {{component-editor attr=attr form=this editorOverrides=controller.controllers.application.frontendConfig.editors}}
                                </div>
                            {{/if}}
                        {{/each}}
                        </div>
                    {{else}}
                        <div class="tab-pane" id="{{unbound category.slug}}">
                        {{#each attr in category.keys}}
                            {{#if attr.model.options.readOnly}}
                                <div>
                                    {{#if attr.model.options.title}}
                                        <span class="label" style="color:black">
                                            <b>
                                                {{tr attr.model.options.title}}
                                            </b>
                                        </span>
                                    {{else}}
                                        {{#if attr.field}}
                                            <span class="label" style="color:black">
                                                <b>
                                                    {{tr attr.field}}
                                                </b>
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                    {{component-renderer attr=attr record=controller.formContext}}
                                </div>
                            {{else}}
                                <div>
                                    {{#if attr.model.options.title}}
                                        <span class="label" style="color:black">
                                            <b>
                                                {{tr attr.model.options.title}}
                                            </b>
                                        </span>
                                    {{else}}
                                        {{#if attr.field}}
                                            <span class="label" style="color:black">
                                                <b>
                                                    {{tr attr.field}}
                                                </b>
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                    {{component-editor attr=attr form=this editorOverrides=controller.controllers.application.frontendConfig.editors}}
                                </div>
                            {{/if}}
                        {{/each}}
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</p>