{{#if showSearchOptions}}
    <span class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-wrench"></span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" role="menu" style="width:400px">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a {{bind-attr href="tabAllHref"}} role="tab" data-toggle="tab">All</a></li>
                    <li><a {{bind-attr href="tabIndexedHref"}} role="tab" data-toggle="tab">Indexed</a></li>
                    <li><a {{bind-attr href="tabFilterHref"}} role="tab" data-toggle="tab">Filter</a></li>
                  </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" {{bind-attr id="tabAllId"}}>
                        <div class="input-group">
                            {{#each this.searchableAttributes}}
                                <label class="checkbox-inline">
                                    {{input type="checkbox"}}{{this}}
                                </label><br/>

                            {{/each}}
                        </div>
                    </div>
                    <div class="tab-pane" {{bind-attr id="tabIndexedId"}}>blah2</div>
                    <div class="tab-pane" {{bind-attr id="tabFilterId"}}>blah3</div>
                </div>
            </div>
        </span>
        {{input type="text" placeholder=placeholder action="searchInputAction" class="form-control inlineInput" value=value}}
    </span>
{{else}}

    <div class="input-group input-group-sm">
        {{input type="text" placeholder=placeholder action="searchInputAction" class="form-control inlineInput" value=value}}
        <span class="input-group-btn">
            <button class="btn btn-default btn-flat" {{action 'clearSearch'}}>
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
            <button class="btn btn-primary btn-flat" {{action 'searchInputAction'}}>
                <span class="fa fa-search"></span>
            </button>
        </span>
    </div>
{{/if}}
