{{#if parentController.options.allow_user_display}}
	{{#component-dropdownbutton}}
		{{#component-dropdownbuttonheader}}
			{{#component-dropdownbuttontitle}}
				{{#component-tooltip content="Display"}}
					<i class="fa fa-eye"></i>
				{{/component-tooltip}}
			{{/component-dropdownbuttontitle}}
		{{/component-dropdownbuttonheader}}
		{{#component-dropdownbuttoncontent}}
			<ul class="list-group">
			  	<li class="list-group-item pointer" {{action "transform" "gauge"}}>
			  		<i class="fa fa-tachometer"></i> {{tr "gauge"}}
			  	</li>
			  	<li class="list-group-item pointer" {{action "transform" "pie"}}>
			  		<i class="fa fa-pie-chart"></i> {{tr "pie"}}
			  	</li>
			  	<li class="list-group-item pointer" {{action "transform" "donut"}}>
			  		<i class="fa fa-dot-circle-o"></i> {{tr "donut"}}
			  	</li>
			  	<li class="list-group-item pointer" {{action "transform" "progressbar"}}>
			  		<i class="fa fa-battery-three-quarters"></i> {{tr "progressbar"}}
			  	</li>
			  	<li class="list-group-item pointer" {{action "transform" "bar"}}>
			  		<i class="fa fa-bar-chart"></i> {{tr "bar"}}
			  	</li>
			</ul>
		{{/component-dropdownbuttoncontent}}
	{{/component-dropdownbutton}}
{{/if}}

<div {{bind-attr id="uuid"}}></div>

{{#unless chart}}
	<h2 class="text-center">No data</h2>
{{/unless}}
