{{#if controller._partials.weatherTheme}}
    {{#each theme in controller._partials.weatherTheme}}
        {{partial theme}}
    {{/each}}
{{else}}
    <div {{bind-attr class=":small-box controller.background"}}>
        <div class="inner">

        </div>
        <div class="icon">
            <i {{bind-attr class=":ion controller.icon"}}></i>
        </div>

        <!-- child -->
        <div class="row unmarged weatherminsize">
            {{#if controller.singleEvent}}
                {{#each controller.sub_weather}}
                    <div style="margin-right:55px;">
                        <div class="inner text-center" style="overflow:hidden">
                            {{#if controller.show_title}}
                                <h4>
                                    {{title}}
                                </h4>
                            {{/if}}
                            <p>
                                <a {{action "goToInfo" this}} class="small-box-footer full"></a>
                            </p>
                            {{#if controller.show_output}}
                                <h5>
                                    {{controller.singleEventOutput}}
                                </h5>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div style="margin-right:55px;">
                {{#each controller.sub_weather}}
                    <div class="col-lg-3 col-xs-6">
                        <div {{bind-attr class=":small-box custom_class"}}>
                            <div class="inner text-center" style="overflow:hidden">
                                {{#if controller.show_title}}
                                    <h4>
                                        {{title}}
                                    </h4>
                                {{/if}}
                                <p>
                                    <a {{action "goToInfo" this}} class="small-box-footer full"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}
