{{#if isLoading}}
    <i class="fa fa-refresh fa-spin"></i>
{{else}}
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">
            <i class="fa fa-search"></i>
        </span>
        {{input value=searchCriterion class="form-control"}}
    </div>
    <select class="form-control">
        {{#each category in filteredElements}}
            <optgroup {{bind-attr label=category.name}}>
                <option value="">--</option>
                {{#each item in category.content}}
                    {{#if item.selected}}
                        <option selected="selected" {{bind-attr value=item.value}}>{{item.label}}</option>
                    {{else}}
                        <option {{bind-attr value=item.value}}>{{item.label}}</option>
                    {{/if}}
                {{/each}}
            </optgroup>
        {{/each}}
    </select>

{{/if}}
