<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
    Please note that this widget is deprecated. It will be removed at the next Canopsis version.
    Unstead, you could use <a target='_blank' href='https://git.canopsis.net/canopsis-ui-bricks/brick-topology'>this one</a>
</div>


<div class="graph" {{bind-attr id=view.id}}>
<svg>
<defs>
    <marker id="markerArrow" markerWidth="10" viewBox="0 0 10 10" markerHeight="10" refx="15" refy="5" orient="auto">
        <path d="M0 0 L10 5 L0 10 Z" style="fill: #000000;"/>
    </marker>
</defs>
</svg>

<button type="button" {{action "showHideProperties" target="view"}}>Show/Hide Properties</button>
{{#if view.showProperties}}
Auto-Layout: {{input name="autoLayout" type="checkbox" target="view" checked=autoLayout}}
Filter: {{input name="filter" target="view" type="text" value="filter" action="filter" on="key-press"}}
Charge: {{component-slider content=view.charge options=view.optionsCharge}}
Link strength: {{component-slider content=view.linkStrength options=view.linkStrengthCharge}}
Link distance: {{component-slider content=view.linkDistance options=view.linkDistanceCharge}}
Friction: {{component-slider content=view.friction options=view.frictionCharge}}
Theta: {{component-slider content=view.theta options=view.thetaCharge}}
Gravity: {{component-slider content=view.gravity options=view.gravityCharge}}
{{/if}}
</div>
