<div class="form-group">
	<div class="col-md-2">
	    <span class="badge bg-green">{{tr 'Info'}}</span>
	</div>
	<div class="col-md-10">
		{{input class="form-control" value=info placeholder=placeholder}}
	</div>
</div>
<div class="form-group">
	<div class="col-md-2">
	    <span class="badge bg-yellow">{{tr 'Minor'}}</span>
	</div>
	<div class="col-md-10">
		{{input class="form-control" value=minor placeholder=placeholder}}
	</div>
</div>
<div class="form-group">
	<div class="col-md-2">
	    <span class="badge bg-orange">{{tr 'Major'}}</span>
	</div>
	<div class="col-md-10">
		{{input class="form-control" value=major placeholder=placeholder}}
	</div>
</div>
<div class="form-group">
	<div class="col-md-2">
	    <span class="badge bg-red">{{tr 'Critical'}}</span>
	</div>
	<div class="col-md-10">
		{{input class="form-control" value=critical placeholder=placeholder}}
	</div>
</div>
