<div class="well">
    {{view "select"
       content=contexts
       optionValuePath="content.modelName"
       optionLabelPath="content.name"
       value=contextType}}
</div>
<div style="float: right;">
    {{#component-tooltip content=helpModal.content htmlEnabled=true noTranslation=true}}
        <i class="fa fa-info-circle"></i>
    {{/component-tooltip}}
    {{tr 'Search'}}: {{input action="search"}}

</div>
{{#with contextType as contextType}}
    {{component-table model=contextType columns=columns targetObject=this queryStartOffsetKeyword="start" modelfilter=contextSearch}}
{{/with}}
<h3>{{tr 'Selection'}} :</h3>
<div class="well">
    {{#if content}}
        {{content}}
        <a {{action 'clearselection'}} >
            <span class="glyphicon glyphicon-trash" style="float:right"></span>
        </a>
    {{else}}
        {{tr 'Nothing selected'}}.
    {{/if}}
</div>
