<div class='actions-wrapper'>
  <div class="actions-parent" style="display:flex">

    {{#each action in availableActions}}
      <button {{action 'sendAction' action}} {{bind-attr title=action.name}} type="button" class="btn btn-xs btn-default">
          <i {{bind-attr class=action.class}}></i>
      </button>
    {{/each}}
    {{#if hasLinks}}
          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-info"></i>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" style="right:0;">
            {{#each link in alarm.linklist.event_links}}
              <li>
                  <a target="_blank" {{bind-attr href=link.url}}>{{link.label}}</a>
              </li>
            {{/each}}
          </ul>
    {{/if}}
  </div>
</div>

