<div class="row">
  <div class="col-md-12">
      {{#if entity}}
          <h1 style="font-size: 18px; font-weight: bold;">{{entity.name}}</h1>
          <div class="box-body table-responsive no padding">
          <table class="table table-hover">
              <tbody>
                  <tr>
                      <th>
                          Type
                      </th>
                      <th>
                          Active
                      </th>
                      <th>
                          Last date active
                      </th>
                      <th>
                          Impacts
                      </th>
                      <th>
                          Depends
                      </th>
                      <th>
                          Pbehaviors
                      </th>
                      <th>
                          Infos
                      </th>
                      <th>
                          Links
                      </th>
                  </tr>
                  <tr>
                      <td>
                          {{entity.type}}
                      </td>
                      <td>
                          {{#if entity.enabled}}
                              <span class="label label-success">Enabled</span>
                          {{else}}
                              <span class="label label-danger">Disabled</span>
                          {{/if}}
                      </td>
                      <td>
                          {{timestamp entity.enable_history}}
                      </td>
                      <td>
                          <ul>
                          {{#each entity.impact as |impact|}}
                              <li>{{impact}}</li>
                          {{/each}}
                          </ul>
                      </td>
                      <td>
                          <ul>
                          {{#each entity.depends as |depend|}}
                              <li>{{depend}}</li>
                          {{/each}}
                          </ul>
                      </td>
                      <td>
                            <table class="table">
                                <tr>
                                    <th>
                                        name
                                    </th>
                                    <th>
                                        author
                                    </th>
                                    <th>
                                        connector
                                    </th>
                                    <th>
                                        connector_name
                                    </th>
                                    <th>
                                        isEnabled
                                    </th>
                                    <th>
                                        begins
                                    </th>
                                    <th>
                                        ends
                                    </th>
                                    <th>
                                        type
                                    </th>
                                    <th>
                                        reason
                                    </th>
                                    <th>
                                        rrule
                                    </th>
                                    <th>
                                        actions
                                    </th>
                                </tr>
                                 {{#each pbehaviors as |pbehavior|}}
                                <tr>
                                    <td>
                                        {{pbehavior.name}}
                                    </td>
                                    <td>
                                         {{pbehavior.author}}
                                    </td>
                                    <td>
                                         {{pbehavior.connector}}
                                    </td>
                                    <td>
                                         {{pbehavior.connector_name}}
                                    </td>
                                    <td>
                                        {{#if pbehavior.enabled}}
                                            <span class="label label-success">Enabled</span>
                                        {{else}}
                                            <span class="label label-danger">Disabled</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{timestamp pbehavior.tstart}}
                                    </td>
                                    <td>
                                        {{timestamp pbehavior.tstop}}
                                    </td>
                                    <td>
                                        {{pbehavior.type_}}
                                    </td>
                                    <td>
                                        {{pbehavior.reason}}
                                    </td>
                                    <td>
                                        {{pbehavior.rrule}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-box-tool btn-hover" {{action "removepbehavior" pbehavior._id}}>
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                            
                      </td>
                      <td>
                          {{infosdetails entity.infos}}
                      </td>
                      <td>
                          {{linksdetails entity.links}}
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>
      {{/if}}
  </div>
</div>
