{{#with controllers.application.currentViewId as currentViewId}}
    <div class="btn-group pull-right" style="margin-top:5px; margin-bottom:5px">
            {{!partialslot slot=currentViewModel._partials.titlebarsbuttons minified=true class="btn-group" tagName="span"}}
            {{partialslot slot=controller.currentViewModel.containerwidget.controller._partials.titlebarsbuttons minified=true class="btn-group" tagName="span" widget=controller.currentViewModel.containerwidget isMainContainerWidget=true buttonsColorClass="btn-default" buttonsColorSize="btn-sm"}}
        {{#if controller.editMode}}
            {{#with controller.currentViewModel.containerwidget as widget}}
                {{view "mixineditdropdown" isGridLayout=currentViewModel.containerwidget.isGridLayout mixins=controller.currentViewModel.containerwidget.mixins class="btn-group" buttonsColorClass="btn-default" buttonsColorSize="btn-sm"}}
            {{/with}}
        {{/if}}

        {{#if controllers.application.interval}}
            <div>
                <button class="btn btn-default btn-sm btn-warning" {{action 'stopLiveReporting'}} >
                    <span class="glyphicon glyphicon-remove"></span>
                    {{interval2html controllers.application.interval.timestamp.$gte controllers.application.interval.timestamp.$lte}}
                </button>
            </div>
        {{/if}}
        <button class="btn btn-default btn-sm" {{action 'displayLiveReporting' this}} >
            <span class="glyphicon glyphicon-time"></span>
        </button>
    </div>

    <section class="content-header nav-tabs-custom main-tabs" style=" padding: 5px 0 0;margin-bottom:0px; ">
        <ul class="nav nav-tabs">
            <li>
                {{#if controller.userCanShowEditionMenu}}
                    <a class="dropdown-toggle cog-menu" data-toggle="dropdown" href="#">
                        <h4> <i class="fa fa-gear"></i> <span class="caret"></span></h4>
                    </a>
                    <ul class="dropdown-menu">
                        {{#if controller.userCanEditView}}
                            <li role="presentation">
                                <a role="menuitem" class="btn-toggle-edit-mode" tabindex="-1" href="#" {{action 'toggleEditMode'}}>
                                    <i class="fa fa-pencil"></i>
                                    {{#if controller.editMode}}
                                        {{tr 'Leave edition mode'}}
                                    {{else}}
                                        {{tr 'Edit current view'}}
                                    {{/if}}
                                </a>
                            </li>
                        {{/if}}
                        {{#if controller.userCanCreateView}}
                            <li role="presentation">
                                <a role="menuitem" class="btn-import-view" tabindex="-1" {{action 'importView'}}>
                                    <i class="fa fa-upload"></i>
                                    {{tr 'Import a view'}}
                                </a>
                            </li>
                        {{/if}}
                        <li role="presentation">
                            <a role="menuitem" class="btn-export-view" tabindex="-1" {{action 'exportCurrentView'}}>
                                <i class="fa fa-download"></i>
                                {{tr 'Export current view'}}
                            </a>
                        </li>
                        {{#if controller.userCanCreateView}}
                            <li role="presentation">
                                <a role="menuitem" class="btn-add-view" tabindex="-1" href="#" {{action 'addNewView'}}>
                                    <i class="fa fa-plus"></i>
                                    {{tr 'Add a view'}}
                                </a>
                            </li>
                        {{/if}}
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" class="btn-manage-views" tabindex="-1" href="#" {{action 'showView' 'view.userviews'}}>
                                <i class="fa fa-wrench"></i> {{tr 'Manage views'}}
                            </a>
                        </li>
                    </ul>
                {{/if}}
            </li>
            {{#each tab in controller.preparedTabs}}
                <li {{bind-attr class="tab.isActive:active:"}}>
                    {{#if tab.displayable}}
                        {{#unless tab.nestedViews.length}}
                            <a {{action "showView" tab.value}} style="cursor:pointer">
                                {{tab.label}}
                            </a>
                        {{else}}
                            {{#if tab.hasDisplayableNestedView}}
                            <a class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown">
                                {{tab.label}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {{#each nestedView in tab.nestedViews}}
                                    <li><a {{action "showView" nestedView.value.value tab}}>{{nestedView.value.label}}</a></li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        {{/unless}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </section>
{{/with}}
